# general things to ignore
data.pickle
.vscode/
build/
dist/
tests/
stockData/
stockData.json
myHoldings.json
myHoldings.txt
myHoldings copy.json
uploadnotes.txt
.DS_Store
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
